@font-face {
  font-family: 'Noto Sans KR-Light';
  font-weight: 300;
  src: url('./styles/fonts/NotoSansKR-Light.ttf') format('woff2'),
    url('./styles/fonts/NotoSansKR-Light.ttf') format('woff'),
    url('./styles/fonts/NotoSansKR-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans KR-Regular';
  font-weight: 400;
  src: url('./styles/fonts/NotoSansKR-Regular.ttf') format('woff2'),
    url('./styles/fonts/NotoSansKR-Regular.ttf') format('woff'),
    url('./styles/fonts/NotoSansKR-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Noto Sans KR-Medium';
  font-weight: 500;
  src: url('styles/fonts/NotoSansKR-Medium.ttf') format('woff2');
}

@font-face {
  font-family: 'Noto Sans KR-Bold';
  font-weight: 700;
  src: url('./styles/fonts/NotoSansKR-Bold.ttf') format('woff2'),
    url('./styles/fonts/NotoSansKR-Bold.ttf') format('woff'),
    url('./styles/fonts/NotoSansKR-Bold.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}