.Icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  outline: none;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  height: 100px;
  width: 100px;
  background: #D9D9D9;
}

.icon_img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 20px;
}

.Icon.selected {
  background: #D1F1FF; /* 선택된 버튼의 색상 */
  border: 3px solid #82D9FF;
}
